/* #judul {
    font-size: 30px;
    text-decoration: underline;
}
.paragraf_pertama,.paragraf_kedua {
  color: aqua;

} */

h2 {
    color: rgb(126, 212, 64);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    text-decoration: none;

}
